<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.7" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.7" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net45" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net45" />
  <package id="SpecFlow.Reporting" version="0.5.0.38" targetFramework="net45" />
  <package id="SpecFlow.Reporting.ApprovalTestSuite" version="0.5.0.38" targetFramework="net45" />
  <package id="SpecFlow.Reporting.Json" version="0.5.0.38" targetFramework="net45" />
</packages>